
img{
    height: 10%;
    width: 10%;
    display: inline;
}
.LeftImage{
    float: left;
}
.rightImage{
    float: right;
}
.leftPart{
    width:45%;
}
.rightPart{
    width: 30%;
    background-image: url(../img/1.png) ;
    background-repeat: repeat-y;
    text-align: right;

}